@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/roboto-v19-latin-300.eot');
  src: local('Roboto Light'), local('Roboto-Light'),
    url('../fonts/roboto-v19-latin-300.eot?#iefix') format('embedded-opentype'),
    url('../fonts/roboto-v19-latin-300.woff2') format('woff2'),
    url('../fonts/roboto-v19-latin-300.woff') format('woff'),
    url('../fonts/roboto-v19-latin-300.ttf') format('truetype'),
    url('../fonts/roboto-v19-latin-300.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'bebas_neuebold';
  src: url('../fonts/bebasneue_bold-webfont.eot');
  src: url('../fonts/bebasneue_bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_bold-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue_bold-webfont.woff') format('woff'),
    url('../fonts/bebasneue_bold-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neuelight';
  src: url('../fonts/bebasneue_light-webfont.eot');
  src: url('../fonts/bebasneue_light-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_light-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue_light-webfont.woff') format('woff'),
    url('../fonts/bebasneue_light-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neue_regularregular';
  src: url('../fonts/bebasneue_regular-webfont.eot');
  src: url('../fonts/bebasneue_regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_regular-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue_regular-webfont.woff') format('woff'),
    url('../fonts/bebasneue_regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'bebas_neuethin';
  src: url('../fonts/bebasneue_thin-webfont.eot');
  src: url('../fonts/bebasneue_thin-webfont.eot?#iefix') format('embedded-opentype'),
    url('../fonts/bebasneue_thin-webfont.woff2') format('woff2'),
    url('../fonts/bebasneue_thin-webfont.woff') format('woff'),
    url('../fonts/bebasneue_thin-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

.ba-container {
  min-height: 1000px;
  background-color: #9789f9;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ba-pricing {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1070px;
}

.ba-pricing__col {
  position: relative;
  box-sizing: border-box;
  padding-top: 40px;
  background-color: #fff;
  box-shadow: 2.424px 4.373px 59px #7a6be7;
  width: 328px;
  height: 611px;
  background-image: url("../images/curv-bg.jpg");
}

.ba-pricing__col--center {
  position: relative;
  padding-top: 45px;
  width: 370px;
  height: 691px;
  background-image: url("../images/curv-bg-center.jpg");
}

.svg-tooltip {
  position: absolute;
  top: 30px;
  right: 0;
  transform: translateX(90%);
  z-index: 1;
}

.svg__circle {
  position: absolute;
  top: 20px;
  right: 20px;
}

.svg__bubbles {
  position: absolute;
  top: 9px;
  right: 8px;
}

.ba-price {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ba-price__rate {
  font-family: "bebas_neuethin";
  font-weight: 200;
  font-size: 60px;
  letter-spacing: 5px;
  line-height: 0.6;
  color: #181818;
  display: flex;
}

.ba-price__rate:before {
  font-size: 24px;
  content: "$";
}

.ba-price__rate:after {
  font-size: 24px;
  content: "/HR";
  align-self: flex-end;
}

.ba-price__position {
  margin-top: 25px;
  font-size: 24px;
  letter-spacing: 2px;
  line-height: 1.5;
  color: #181818;
  font-family: "bebas_neue_regularregular";
  font-weight: 400;
  margin-bottom: 65px;
}

.ba-price__body {
  margin-top: 35px;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  font-size: 16px;
  line-height: 3;
  color: #181818;
}

.ba-price__body--center {
  margin-top: 45px;
}

.ba-button {
  position: absolute;
  bottom: 0;
  transform: translateY(50%);
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 203px;
  height: 54px;
  border-radius: 27px;
  box-shadow: 2.424px 4.373px 18px rgba(133, 192, 247, 0.31);
  background-color: #6fcffb;
  font-size: 18px;
  letter-spacing: 1px;
  line-height: 2.9;
  color: #fff;
  font-family: "bebas_neuebold";
}

.ba-price__footer--center {
  height: 90px;
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}

.ba-button--center {
  position: absolute;
  top: 0;
  transform: translateY(-50%);
  box-shadow: 2.424px 4.373px 18px rgba(253, 141, 123, 0.31);
  background-color: #fd8d7b;
}

.footer__text {
  position: absolute;
  bottom: 35px;
  font-size: 11px;
  color: #a9a9a9;
  font-family: "Roboto";
  font-weight: 300;
}
